.container{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color:  #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-box{
    min-width: 300px;
    height: fit-content;
    width: fit-content;
    background-color: white;
    box-shadow: 1px 1px 4px black;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn button{
    outline: none;
    border: none;
    background-color: #9900ff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
}

.btn button:hover{
    background-color: #cc80ff;
}

.btn p{
    font-weight: 700;
    color: black;
}
.btn p span a{
    font-weight: bold;
    color: #9900ff;
    letter-spacing: 1px;
    font-size: 1rem;
    text-decoration: none;
}
.btn .err{
    font-weight: bold;
    font-size: 0.857rem;
    color: red;
    text-align: center;
}

.container label{
    font-weight: 500;
    font-size: 1rem;
    color: #4b4b4b;
}
.container input{
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
    padding: 8px 15px;
    color: black;
}
.container input:hover{
    border-color: #ccc;
}
.container input:focus{
    border-color: #9900ff;
}
.fac{
    background-color: #1a2ee7 !important;
}
.gogl{
    background-color:  #fff  !important;
    border: 2px solid black !important;
    color: black !important;
}
.p-or{
    text-align: center;
}